@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Custom styles for image gallery */
.image-gallery-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 80vh;
}

.image-gallery-thumbnail {
  width: 80px;
  height: 60px;
}

.image-gallery-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 30px !important;
}

